
.top_block {
    display: block;
    outline: 2px solid black;
    width: 900px;
    margin-bottom: 30px;
}

.left_block {
    display: inline-block;
    outline: 2px solid black;
    width: 300px;
    /* background-color: lightgray; */
    vertical-align: top;
    margin-left: 288px;
    
}

.right_block {
    display: inline-block;
    outline: 2px solid black;
    width: 300px;
    /* background-color: lightpink; */
}